.add-vehicle {
    text-align: right;
}
.vehicle-action {
    justify-content: center;
}
.action-label {
    text-align: center !important;
}
.status-label {
    font-weight: 400;
    font-size: 14px;
    color: #495057;
}
